.current-lessons {
    animation: animationFrames ease-in @current-lessons-speed;
    animation-iteration-count: infinite;
    -webkit-animation: animationFrames ease-in @current-lessons-speed;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: animationFrames ease-in @current-lessons-speed;
    -moz-animation-iteration-count: infinite;
    -o-animation: animationFrames ease-in @current-lessons-speed;
    -o-animation-iteration-count: infinite;
    -ms-animation: animationFrames ease-in @current-lessons-speed;
    -ms-animation-iteration-count: infinite;
}

@keyframes animationFrames {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        transform: translate(@current-lessons-start, 0px);
    }
    100% {
        transform: translate(-@current-lessons-box-size, 0px);
    }
}

@-moz-keyframes animationFrames {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        -moz-transform: translate(@current-lessons-start, 0px);
    }
    100% {
        -moz-transform: translate(-@current-lessons-box-size, 0px);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        -webkit-transform: translate(@current-lessons-start, 0px);
    }
    100% {
        -webkit-transform: translate(-@current-lessons-box-size, 0px);
    }
}

@-o-keyframes animationFrames {
       0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        -o-transform: translate(@current-lessons-start, 0px);
    }
    100% {
        -o-transform: translate(-@current-lessons-box-size, 0px);
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        -ms-transform: translate(@current-lessons-start, 0px);
    }
    100% {
        -ms-transform: translate(-@current-lessons-box-size, 0px);
    }
}